@import "variables";

article{
    background: {
        color: transparent;
        image: url('../imagenes/rockbg.jpg');
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    font-family: $bigfont;
}

hr{
    border-color: $colorRojo;
    height: 10px;
    background-color: $colorRojo;
}

header{
    background-color: $verydarkred;
}

.profile-pic{
    width: 20vh;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin: 4vh;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    z-index: 2;
}

.profile-pic:hover{
    opacity: 0.5;
}

#informacion{
    color: $colorBlancoPastel;
    font-family: $bigfont;
}

.profile-box{
    background-color: $colorNegro;
    text-align: center;
    padding: 20vh 100px;
    color: $colorBlancoPastel;
    position: relative;
    border-radius: 20px;
}
.panel{
    border: 2px solid $verydarkred;
    background: {
        image: url("/assets/imagenes/redpattern.jpg");
    }
    width: 70%;
}

#pen_icon{
    position: absolute;
    left: 49%;
    top: 23%;
    z-index: 1;
}